[submodule "ds000001"]
	path = ds000001
	url = https://github.com/OpenNeuroDatasets/ds000001.git
[submodule "ds000002"]
	path = ds000002
	url = https://github.com/OpenNeuroDatasets/ds000002.git
[submodule "ds000003"]
	path = ds000003
	url = https://github.com/OpenNeuroDatasets/ds000003.git
[submodule "ds000005"]
	path = ds000005
	url = https://github.com/OpenNeuroDatasets/ds000005.git
[submodule "ds000008"]
	path = ds000008
	url = https://github.com/OpenNeuroDatasets/ds000008.git
[submodule "ds000011"]
	path = ds000011
	url = https://github.com/OpenNeuroDatasets/ds000011.git
[submodule "ds000051"]
	path = ds000051
	url = https://github.com/OpenNeuroDatasets/ds000051.git
[submodule "ds000052"]
	path = ds000052
	url = https://github.com/OpenNeuroDatasets/ds000052.git
[submodule "ds000101"]
	path = ds000101
	url = https://github.com/OpenNeuroDatasets/ds000101.git
[submodule "ds000102"]
	path = ds000102
	url = https://github.com/OpenNeuroDatasets/ds000102.git
[submodule "ds000105"]
	path = ds000105
	url = https://github.com/OpenNeuroDatasets/ds000105.git
[submodule "ds000107"]
	path = ds000107
	url = https://github.com/OpenNeuroDatasets/ds000107.git
[submodule "ds000109"]
	path = ds000109
	url = https://github.com/OpenNeuroDatasets/ds000109.git
[submodule "ds000017"]
	path = ds000017
	url = https://github.com/OpenNeuroDatasets/ds000017.git
[submodule "ds000122"]
	path = ds000122
	url = https://github.com/OpenNeuroDatasets/ds000122.git
[submodule "ds001037"]
	path = ds001037
	url = https://github.com/OpenNeuroDatasets/ds001037.git
[submodule "ds001103"]
	path = ds001103
	url = https://github.com/OpenNeuroDatasets/ds001103.git
[submodule "ds001110"]
	path = ds001110
	url = https://github.com/OpenNeuroDatasets/ds001110.git
[submodule "ds001105"]
	path = ds001105
	url = https://github.com/OpenNeuroDatasets/ds001105.git
[submodule "ds001131"]
	path = ds001131
	url = https://github.com/OpenNeuroDatasets/ds001131.git
[submodule "ds001132"]
	path = ds001132
	url = https://github.com/OpenNeuroDatasets/ds001132.git
[submodule "ds001145"]
	path = ds001145
	url = https://github.com/OpenNeuroDatasets/ds001145.git
[submodule "ds001178"]
	path = ds001178
	url = https://github.com/OpenNeuroDatasets/ds001178.git
[submodule "ds001219"]
	path = ds001219
	url = https://github.com/OpenNeuroDatasets/ds001219.git
[submodule "ds001247"]
	path = ds001247
	url = https://github.com/OpenNeuroDatasets/ds001247.git
[submodule "ds001299"]
	path = ds001299
	url = https://github.com/OpenNeuroDatasets/ds001299.git
[submodule "ds001306"]
	path = ds001306
	url = https://github.com/OpenNeuroDatasets/ds001306.git
[submodule "ds000208"]
	path = ds000208
	url = https://github.com/OpenNeuroDatasets/ds000208.git
[submodule "ds000248"]
	path = ds000248
	url = https://github.com/OpenNeuroDatasets/ds000248.git
[submodule "ds000138"]
	path = ds000138
	url = https://github.com/OpenNeuroDatasets/ds000138.git
[submodule "ds000236"]
	path = ds000236
	url = https://github.com/OpenNeuroDatasets/ds000236.git
[submodule "ds000174"]
	path = ds000174
	url = https://github.com/OpenNeuroDatasets/ds000174.git
[submodule "ds000116"]
	path = ds000116
	url = https://github.com/OpenNeuroDatasets/ds000116.git
[submodule "ds000255"]
	path = ds000255
	url = https://github.com/OpenNeuroDatasets/ds000255.git
[submodule "ds000157"]
	path = ds000157
	url = https://github.com/OpenNeuroDatasets/ds000157.git
[submodule "ds000202"]
	path = ds000202
	url = https://github.com/OpenNeuroDatasets/ds000202.git
[submodule "ds000240"]
	path = ds000240
	url = https://github.com/OpenNeuroDatasets/ds000240.git
[submodule "ds000231"]
	path = ds000231
	url = https://github.com/OpenNeuroDatasets/ds000231.git
[submodule "ds000235"]
	path = ds000235
	url = https://github.com/OpenNeuroDatasets/ds000235.git
[submodule "ds000219"]
	path = ds000219
	url = https://github.com/OpenNeuroDatasets/ds000219.git
[submodule "ds000200"]
	path = ds000200
	url = https://github.com/OpenNeuroDatasets/ds000200.git
[submodule "ds000218"]
	path = ds000218
	url = https://github.com/OpenNeuroDatasets/ds000218.git
[submodule "ds000234"]
	path = ds000234
	url = https://github.com/OpenNeuroDatasets/ds000234.git
[submodule "ds000144"]
	path = ds000144
	url = https://github.com/OpenNeuroDatasets/ds000144.git
[submodule "ds000120"]
	path = ds000120
	url = https://github.com/OpenNeuroDatasets/ds000120.git
[submodule "ds000168"]
	path = ds000168
	url = https://github.com/OpenNeuroDatasets/ds000168.git
[submodule "ds000205"]
	path = ds000205
	url = https://github.com/OpenNeuroDatasets/ds000205.git
[submodule "ds000237"]
	path = ds000237
	url = https://github.com/OpenNeuroDatasets/ds000237.git
[submodule "ds000245"]
	path = ds000245
	url = https://github.com/OpenNeuroDatasets/ds000245.git
[submodule "ds000164"]
	path = ds000164
	url = https://github.com/OpenNeuroDatasets/ds000164.git
