[submodule "ds000001"]
	path = ds000001
	url = https://github.com/OpenNeuroDatasets/ds000001.git
[submodule "ds000002"]
	path = ds000002
	url = https://github.com/OpenNeuroDatasets/ds000002.git
[submodule "ds000003"]
	path = ds000003
	url = https://github.com/OpenNeuroDatasets/ds000003.git
[submodule "ds000005"]
	path = ds000005
	url = https://github.com/OpenNeuroDatasets/ds000005.git
[submodule "ds000008"]
	path = ds000008
	url = https://github.com/OpenNeuroDatasets/ds000008.git
[submodule "ds000011"]
	path = ds000011
	url = https://github.com/OpenNeuroDatasets/ds000011.git
[submodule "ds000051"]
	path = ds000051
	url = https://github.com/OpenNeuroDatasets/ds000051.git
[submodule "ds000052"]
	path = ds000052
	url = https://github.com/OpenNeuroDatasets/ds000052.git
[submodule "ds000101"]
	path = ds000101
	url = https://github.com/OpenNeuroDatasets/ds000101.git
[submodule "ds000102"]
	path = ds000102
	url = https://github.com/OpenNeuroDatasets/ds000102.git
[submodule "ds000105"]
	path = ds000105
	url = https://github.com/OpenNeuroDatasets/ds000105.git
[submodule "ds000107"]
	path = ds000107
	url = https://github.com/OpenNeuroDatasets/ds000107.git
[submodule "ds000109"]
	path = ds000109
	url = https://github.com/OpenNeuroDatasets/ds000109.git
[submodule "ds000017"]
	path = ds000017
	url = https://github.com/OpenNeuroDatasets/ds000017.git
[submodule "ds000122"]
	path = ds000122
	url = https://github.com/OpenNeuroDatasets/ds000122.git
[submodule "ds001037"]
	path = ds001037
	url = https://github.com/OpenNeuroDatasets/ds001037.git
[submodule "ds001110"]
	path = ds001110
	url = https://github.com/OpenNeuroDatasets/ds001110.git
[submodule "ds001105"]
	path = ds001105
	url = https://github.com/OpenNeuroDatasets/ds001105.git
[submodule "ds001131"]
	path = ds001131
	url = https://github.com/OpenNeuroDatasets/ds001131.git
[submodule "ds001132"]
	path = ds001132
	url = https://github.com/OpenNeuroDatasets/ds001132.git
[submodule "ds001145"]
	path = ds001145
	url = https://github.com/OpenNeuroDatasets/ds001145.git
[submodule "ds001178"]
	path = ds001178
	url = https://github.com/OpenNeuroDatasets/ds001178.git
[submodule "ds001219"]
	path = ds001219
	url = https://github.com/OpenNeuroDatasets/ds001219.git
[submodule "ds001247"]
	path = ds001247
	url = https://github.com/OpenNeuroDatasets/ds001247.git
[submodule "ds001299"]
	path = ds001299
	url = https://github.com/OpenNeuroDatasets/ds001299.git
[submodule "ds001306"]
	path = ds001306
	url = https://github.com/OpenNeuroDatasets/ds001306.git
[submodule "ds000208"]
	path = ds000208
	url = https://github.com/OpenNeuroDatasets/ds000208.git
[submodule "ds000248"]
	path = ds000248
	url = https://github.com/OpenNeuroDatasets/ds000248.git
[submodule "ds000138"]
	path = ds000138
	url = https://github.com/OpenNeuroDatasets/ds000138.git
[submodule "ds000236"]
	path = ds000236
	url = https://github.com/OpenNeuroDatasets/ds000236.git
[submodule "ds000174"]
	path = ds000174
	url = https://github.com/OpenNeuroDatasets/ds000174.git
[submodule "ds000116"]
	path = ds000116
	url = https://github.com/OpenNeuroDatasets/ds000116.git
[submodule "ds000255"]
	path = ds000255
	url = https://github.com/OpenNeuroDatasets/ds000255.git
[submodule "ds000157"]
	path = ds000157
	url = https://github.com/OpenNeuroDatasets/ds000157.git
[submodule "ds000202"]
	path = ds000202
	url = https://github.com/OpenNeuroDatasets/ds000202.git
[submodule "ds000240"]
	path = ds000240
	url = https://github.com/OpenNeuroDatasets/ds000240.git
[submodule "ds000231"]
	path = ds000231
	url = https://github.com/OpenNeuroDatasets/ds000231.git
[submodule "ds000235"]
	path = ds000235
	url = https://github.com/OpenNeuroDatasets/ds000235.git
[submodule "ds000219"]
	path = ds000219
	url = https://github.com/OpenNeuroDatasets/ds000219.git
[submodule "ds000200"]
	path = ds000200
	url = https://github.com/OpenNeuroDatasets/ds000200.git
[submodule "ds000218"]
	path = ds000218
	url = https://github.com/OpenNeuroDatasets/ds000218.git
[submodule "ds000234"]
	path = ds000234
	url = https://github.com/OpenNeuroDatasets/ds000234.git
[submodule "ds000144"]
	path = ds000144
	url = https://github.com/OpenNeuroDatasets/ds000144.git
[submodule "ds000120"]
	path = ds000120
	url = https://github.com/OpenNeuroDatasets/ds000120.git
[submodule "ds000168"]
	path = ds000168
	url = https://github.com/OpenNeuroDatasets/ds000168.git
[submodule "ds000205"]
	path = ds000205
	url = https://github.com/OpenNeuroDatasets/ds000205.git
[submodule "ds000237"]
	path = ds000237
	url = https://github.com/OpenNeuroDatasets/ds000237.git
[submodule "ds000245"]
	path = ds000245
	url = https://github.com/OpenNeuroDatasets/ds000245.git
[submodule "ds000164"]
	path = ds000164
	url = https://github.com/OpenNeuroDatasets/ds000164.git
[submodule "ds000222"]
	path = ds000222
	url = https://github.com/OpenNeuroDatasets/ds000222.git
[submodule "ds000229"]
	path = ds000229
	url = https://github.com/OpenNeuroDatasets/ds000229.git
[submodule "ds000254"]
	path = ds000254
	url = https://github.com/OpenNeuroDatasets/ds000254.git
[submodule "ds000214"]
	path = ds000214
	url = https://github.com/OpenNeuroDatasets/ds000214.git
[submodule "ds000246"]
	path = ds000246
	url = https://github.com/OpenNeuroDatasets/ds000246.git
[submodule "ds000213"]
	path = ds000213
	url = https://github.com/OpenNeuroDatasets/ds000213.git
[submodule "ds000239"]
	path = ds000239
	url = https://github.com/OpenNeuroDatasets/ds000239.git
[submodule "ds001338"]
	path = ds001338
	url = https://github.com/OpenNeuroDatasets/ds001338.git
[submodule "ds001339"]
	path = ds001339
	url = https://github.com/OpenNeuroDatasets/ds001339.git
[submodule "ds001344"]
	path = ds001344
	url = https://github.com/OpenNeuroDatasets/ds001344.git
[submodule "ds000114"]
	path = ds000114
	url = https://github.com/OpenNeuroDatasets/ds000114.git
[submodule "ds001357"]
	path = ds001357
	url = https://github.com/OpenNeuroDatasets/ds001357.git
[submodule "ds001365"]
	path = ds001365
	url = https://github.com/OpenNeuroDatasets/ds001365.git
[submodule "ds001378"]
	path = ds001378
	url = https://github.com/OpenNeuroDatasets/ds001378.git
[submodule "ds001386"]
	path = ds001386
	url = https://github.com/OpenNeuroDatasets/ds001386.git
[submodule "ds001399"]
	path = ds001399
	url = https://github.com/OpenNeuroDatasets/ds001399.git
[submodule "ds001420"]
	path = ds001420
	url = https://github.com/OpenNeuroDatasets/ds001420.git
[submodule "ds001421"]
	path = ds001421
	url = https://github.com/OpenNeuroDatasets/ds001421.git
[submodule "ds001419"]
	path = ds001419
	url = https://github.com/OpenNeuroDatasets/ds001419.git
[submodule "ds001450"]
	path = ds001450
	url = https://github.com/OpenNeuroDatasets/ds001450.git
[submodule "ds001165"]
	path = ds001165
	url = https://github.com/OpenNeuroDatasets/ds001165.git
[submodule "ds001021"]
	path = ds001021
	url = https://github.com/OpenNeuroDatasets/ds001021.git
[submodule "ds001493"]
	path = ds001493
	url = https://github.com/OpenNeuroDatasets/ds001493.git
[submodule "ds001502"]
	path = ds001502
	url = https://github.com/OpenNeuroDatasets/ds001502.git
[submodule "ds001454"]
	path = ds001454
	url = https://github.com/OpenNeuroDatasets/ds001454.git
[submodule "ds001505"]
	path = ds001505
	url = https://github.com/OpenNeuroDatasets/ds001505.git
[submodule "ds000201"]
	path = ds000201
	url = https://github.com/OpenNeuroDatasets/ds000201.git
[submodule "ds001246"]
	path = ds001246
	url = https://github.com/OpenNeuroDatasets/ds001246.git
[submodule "ds001506"]
	path = ds001506
	url = https://github.com/OpenNeuroDatasets/ds001506.git
[submodule "ds001511"]
	path = ds001511
	url = https://github.com/OpenNeuroDatasets/ds001511.git
[submodule "ds001510"]
	path = ds001510
	url = https://github.com/OpenNeuroDatasets/ds001510.git
[submodule "ds001499"]
	path = ds001499
	url = https://github.com/OpenNeuroDatasets/ds001499.git
[submodule "ds001486"]
	path = ds001486
	url = https://github.com/OpenNeuroDatasets/ds001486.git
[submodule "ds000244"]
	path = ds000244
	url = https://github.com/OpenNeuroDatasets/ds000244.git
[submodule "ds001517"]
	path = ds001517
	url = https://github.com/OpenNeuroDatasets/ds001517.git
[submodule "ds001512"]
	path = ds001512
	url = https://github.com/OpenNeuroDatasets/ds001512.git
[submodule "ds001525"]
	path = ds001525
	url = https://github.com/OpenNeuroDatasets/ds001525.git
[submodule "ds000117"]
	path = ds000117
	url = https://github.com/OpenNeuroDatasets/ds000117.git
[submodule "ds001529"]
	path = ds001529
	url = https://github.com/OpenNeuroDatasets/ds001529.git
[submodule "ds001544"]
	path = ds001544
	url = https://github.com/OpenNeuroDatasets/ds001544.git
[submodule "ds001545"]
	path = ds001545
	url = https://github.com/OpenNeuroDatasets/ds001545.git
[submodule "ds001534"]
	path = ds001534
	url = https://github.com/OpenNeuroDatasets/ds001534.git
[submodule "ds001547"]
	path = ds001547
	url = https://github.com/OpenNeuroDatasets/ds001547.git
[submodule "ds001553"]
	path = ds001553
	url = https://github.com/OpenNeuroDatasets/ds001553.git
[submodule "ds001555"]
	path = ds001555
	url = https://github.com/OpenNeuroDatasets/ds001555.git
[submodule "ds001551"]
	path = ds001551
	url = https://github.com/OpenNeuroDatasets/ds001551.git
[submodule "ds001566"]
	path = ds001566
	url = https://github.com/OpenNeuroDatasets/ds001566.git
[submodule "ds001569"]
	path = ds001569
	url = https://github.com/OpenNeuroDatasets/ds001569.git
[submodule "ds001576"]
	path = ds001576
	url = https://github.com/OpenNeuroDatasets/ds001576.git
[submodule "ds001585"]
	path = ds001585
	url = https://github.com/OpenNeuroDatasets/ds001585.git
[submodule "ds001583"]
	path = ds001583
	url = https://github.com/OpenNeuroDatasets/ds001583.git
[submodule "ds001591"]
	path = ds001591
	url = https://github.com/OpenNeuroDatasets/ds001591.git
[submodule "ds000228"]
	path = ds000228
	url = https://github.com/OpenNeuroDatasets/ds000228.git
[submodule "ds001595"]
	path = ds001595
	url = https://github.com/OpenNeuroDatasets/ds001595.git
[submodule "ds001596"]
	path = ds001596
	url = https://github.com/OpenNeuroDatasets/ds001596.git
[submodule "ds001597"]
	path = ds001597
	url = https://github.com/OpenNeuroDatasets/ds001597.git
[submodule "ds001541"]
	path = ds001541
	url = https://github.com/OpenNeuroDatasets/ds001541.git
[submodule "ds001600"]
	path = ds001600
	url = https://github.com/OpenNeuroDatasets/ds001600.git
[submodule "ds001461"]
	path = ds001461
	url = https://github.com/OpenNeuroDatasets/ds001461.git
[submodule "ds001497"]
	path = ds001497
	url = https://github.com/OpenNeuroDatasets/ds001497.git
[submodule "ds001607"]
	path = ds001607
	url = https://github.com/OpenNeuroDatasets/ds001607.git
[submodule "ds001611"]
	path = ds001611
	url = https://github.com/OpenNeuroDatasets/ds001611.git
[submodule "ds000233"]
	path = ds000233
	url = https://github.com/OpenNeuroDatasets/ds000233.git
[submodule "ds000241"]
	path = ds000241
	url = https://github.com/OpenNeuroDatasets/ds000241.git
[submodule "ds001612"]
	path = ds001612
	url = https://github.com/OpenNeuroDatasets/ds001612.git
[submodule "ds001614"]
	path = ds001614
	url = https://github.com/OpenNeuroDatasets/ds001614.git
[submodule "ds001618"]
	path = ds001618
	url = https://github.com/OpenNeuroDatasets/ds001618.git
[submodule "ds001568"]
	path = ds001568
	url = https://github.com/OpenNeuroDatasets/ds001568.git
[submodule "ds001621"]
	path = ds001621
	url = https://github.com/OpenNeuroDatasets/ds001621.git
[submodule "ds001439"]
	path = ds001439
	url = https://github.com/OpenNeuroDatasets/ds001439.git
[submodule "ds001631"]
	path = ds001631
	url = https://github.com/OpenNeuroDatasets/ds001631.git
[submodule "ds001354"]
	path = ds001354
	url = https://github.com/OpenNeuroDatasets/ds001354.git
[submodule "ds001635"]
	path = ds001635
	url = https://github.com/OpenNeuroDatasets/ds001635.git
[submodule "ds001634"]
	path = ds001634
	url = https://github.com/OpenNeuroDatasets/ds001634.git
[submodule "ds001636"]
	path = ds001636
	url = https://github.com/OpenNeuroDatasets/ds001636.git
[submodule "ds001168"]
	path = ds001168
	url = https://github.com/OpenNeuroDatasets/ds001168.git
[submodule "ds001531"]
	path = ds001531
	url = https://github.com/OpenNeuroDatasets/ds001531.git
[submodule "ds001645"]
	path = ds001645
	url = https://github.com/OpenNeuroDatasets/ds001645.git
[submodule "ds001650"]
	path = ds001650
	url = https://github.com/OpenNeuroDatasets/ds001650.git
[submodule "ds001652"]
	path = ds001652
	url = https://github.com/OpenNeuroDatasets/ds001652.git
[submodule "ds001651"]
	path = ds001651
	url = https://github.com/OpenNeuroDatasets/ds001651.git
[submodule "ds001670"]
	path = ds001670
	url = https://github.com/OpenNeuroDatasets/ds001670.git
[submodule "ds001720"]
	path = ds001720
	url = https://github.com/OpenNeuroDatasets/ds001720.git
[submodule "ds001722"]
	path = ds001722
	url = https://github.com/OpenNeuroDatasets/ds001722.git
[submodule "ds001728"]
	path = ds001728
	url = https://github.com/OpenNeuroDatasets/ds001728.git
[submodule "ds001740"]
	path = ds001740
	url = https://github.com/OpenNeuroDatasets/ds001740.git
[submodule "ds001745"]
	path = ds001745
	url = https://github.com/OpenNeuroDatasets/ds001745.git
[submodule "ds001746"]
	path = ds001746
	url = https://github.com/OpenNeuroDatasets/ds001746.git
[submodule "ds001743"]
	path = ds001743
	url = https://github.com/OpenNeuroDatasets/ds001743.git
[submodule "ds001748"]
	path = ds001748
	url = https://github.com/OpenNeuroDatasets/ds001748.git
[submodule "ds001750"]
	path = ds001750
	url = https://github.com/OpenNeuroDatasets/ds001750.git
[submodule "ds001705"]
	path = ds001705
	url = https://github.com/OpenNeuroDatasets/ds001705.git
[submodule "ds000220"]
	path = ds000220
	url = https://github.com/OpenNeuroDatasets/ds000220.git
[submodule "ds001762"]
	path = ds001762
	url = https://github.com/OpenNeuroDatasets/ds001762.git
[submodule "ds001715"]
	path = ds001715
	url = https://github.com/OpenNeuroDatasets/ds001715.git
[submodule "ds001761"]
	path = ds001761
	url = https://github.com/OpenNeuroDatasets/ds001761.git
[submodule "ds001232"]
	path = ds001232
	url = https://github.com/OpenNeuroDatasets/ds001232.git
[submodule "ds001554"]
	path = ds001554
	url = https://github.com/OpenNeuroDatasets/ds001554.git
[submodule "ds001521"]
	path = ds001521
	url = https://github.com/OpenNeuroDatasets/ds001521.git
[submodule "ds001603"]
	path = ds001603
	url = https://github.com/OpenNeuroDatasets/ds001603.git
[submodule "ds001771"]
	path = ds001771
	url = https://github.com/OpenNeuroDatasets/ds001771.git
[submodule "ds001775"]
	path = ds001775
	url = https://github.com/OpenNeuroDatasets/ds001775.git
[submodule "ds000212"]
	path = ds000212
	url = https://github.com/OpenNeuroDatasets/ds000212.git
[submodule "ds001590"]
	path = ds001590
	url = https://github.com/OpenNeuroDatasets/ds001590.git
[submodule "ds001229"]
	path = ds001229
	url = https://github.com/OpenNeuroDatasets/ds001229.git
[submodule "ds001868"]
	path = ds001868
	url = https://github.com/OpenNeuroDatasets/ds001868.git
[submodule "ds001875"]
	path = ds001875
	url = https://github.com/OpenNeuroDatasets/ds001875.git
[submodule "ds000224"]
	path = ds000224
	url = https://github.com/OpenNeuroDatasets/ds000224.git
[submodule "ds000172"]
	path = ds000172
	url = https://github.com/OpenNeuroDatasets/ds000172.git
[submodule "ds001890"]
	path = ds001890
	url = https://github.com/OpenNeuroDatasets/ds001890.git
[submodule "ds001851"]
	path = ds001851
	url = https://github.com/OpenNeuroDatasets/ds001851.git
[submodule "ds001895"]
	path = ds001895
	url = https://github.com/OpenNeuroDatasets/ds001895.git
[submodule "ds001769"]
	path = ds001769
	url = https://github.com/OpenNeuroDatasets/ds001769.git
[submodule "ds001900"]
	path = ds001900
	url = https://github.com/OpenNeuroDatasets/ds001900.git
[submodule "ds001907"]
	path = ds001907
	url = https://github.com/OpenNeuroDatasets/ds001907.git
[submodule "ds001908"]
	path = ds001908
	url = https://github.com/OpenNeuroDatasets/ds001908.git
[submodule "ds001734"]
	path = ds001734
	url = https://github.com/OpenNeuroDatasets/ds001734.git
[submodule "ds001919"]
	path = ds001919
	url = https://github.com/OpenNeuroDatasets/ds001919.git
[submodule "ds001921"]
	path = ds001921
	url = https://github.com/OpenNeuroDatasets/ds001921.git
[submodule "ds001923"]
	path = ds001923
	url = https://github.com/OpenNeuroDatasets/ds001923.git
[submodule "ds000148"]
	path = ds000148
	url = https://github.com/OpenNeuroDatasets/ds000148.git
[submodule "ds001912"]
	path = ds001912
	url = https://github.com/OpenNeuroDatasets/ds001912.git
[submodule "ds001927"]
	path = ds001927
	url = https://github.com/OpenNeuroDatasets/ds001927.git
[submodule "ds001894"]
	path = ds001894
	url = https://github.com/OpenNeuroDatasets/ds001894.git
[submodule "ds001926"]
	path = ds001926
	url = https://github.com/OpenNeuroDatasets/ds001926.git
[submodule "ds001019"]
	path = ds001019
	url = https://github.com/OpenNeuroDatasets/ds001019.git
[submodule "ds001945"]
	path = ds001945
	url = https://github.com/OpenNeuroDatasets/ds001945.git
[submodule "ds001810"]
	path = ds001810
	url = https://github.com/OpenNeuroDatasets/ds001810.git
[submodule "ds001882"]
	path = ds001882
	url = https://github.com/OpenNeuroDatasets/ds001882.git
[submodule "ds001942"]
	path = ds001942
	url = https://github.com/OpenNeuroDatasets/ds001942.git
[submodule "ds001934"]
	path = ds001934
	url = https://github.com/OpenNeuroDatasets/ds001934.git
[submodule "ds001883"]
	path = ds001883
	url = https://github.com/OpenNeuroDatasets/ds001883.git
[submodule "ds000158"]
	path = ds000158
	url = https://github.com/OpenNeuroDatasets/ds000158.git
[submodule "ds001242"]
	path = ds001242
	url = https://github.com/OpenNeuroDatasets/ds001242.git
[submodule "ds001966"]
	path = ds001966
	url = https://github.com/OpenNeuroDatasets/ds001966.git
[submodule "ds001971"]
	path = ds001971
	url = https://github.com/OpenNeuroDatasets/ds001971.git
[submodule "ds001980"]
	path = ds001980
	url = https://github.com/OpenNeuroDatasets/ds001980.git
[submodule "ds001976"]
	path = ds001976
	url = https://github.com/OpenNeuroDatasets/ds001976.git
[submodule "ds001978"]
	path = ds001978
	url = https://github.com/OpenNeuroDatasets/ds001978.git
[submodule "ds001972"]
	path = ds001972
	url = https://github.com/OpenNeuroDatasets/ds001972.git
[submodule "ds001985"]
	path = ds001985
	url = https://github.com/OpenNeuroDatasets/ds001985.git
[submodule "ds001986"]
	path = ds001986
	url = https://github.com/OpenNeuroDatasets/ds001986.git
[submodule "ds001984"]
	path = ds001984
	url = https://github.com/OpenNeuroDatasets/ds001984.git
[submodule "ds001988"]
	path = ds001988
	url = https://github.com/OpenNeuroDatasets/ds001988.git
[submodule "ds001997"]
	path = ds001997
	url = https://github.com/OpenNeuroDatasets/ds001997.git
[submodule "ds002000"]
	path = ds002000
	url = https://github.com/OpenNeuroDatasets/ds002000.git
[submodule "ds002001"]
	path = ds002001
	url = https://github.com/OpenNeuroDatasets/ds002001.git
[submodule "ds002006"]
	path = ds002006
	url = https://github.com/OpenNeuroDatasets/ds002006.git
[submodule "ds001408"]
	path = ds001408
	url = https://github.com/OpenNeuroDatasets/ds001408.git
[submodule "ds001103"]
	path = ds001103
	url = https://github.com/OpenNeuroDatasets/ds001103.git
[submodule "ds001460"]
	path = ds001460
	url = https://github.com/OpenNeuroDatasets/ds001460.git
[submodule "ds002011"]
	path = ds002011
	url = https://github.com/OpenNeuroDatasets/ds002011.git
[submodule "ds002015"]
	path = ds002015
	url = https://github.com/OpenNeuroDatasets/ds002015.git
[submodule "ds002016"]
	path = ds002016
	url = https://github.com/OpenNeuroDatasets/ds002016.git
[submodule "ds001818"]
	path = ds001818
	url = https://github.com/OpenNeuroDatasets/ds001818.git
[submodule "ds002036"]
	path = ds002036
	url = https://github.com/OpenNeuroDatasets/ds002036.git
[submodule "ds002033"]
	path = ds002033
	url = https://github.com/OpenNeuroDatasets/ds002033.git
[submodule "ds002040"]
	path = ds002040
	url = https://github.com/OpenNeuroDatasets/ds002040.git
[submodule "ds002070"]
	path = ds002070
	url = https://github.com/OpenNeuroDatasets/ds002070.git
[submodule "ds001840"]
	path = ds001840
	url = https://github.com/OpenNeuroDatasets/ds001840.git
[submodule "ds001608"]
	path = ds001608
	url = https://github.com/OpenNeuroDatasets/ds001608.git
[submodule "ds001653"]
	path = ds001653
	url = https://github.com/OpenNeuroDatasets/ds001653.git
[submodule "ds001784"]
	path = ds001784
	url = https://github.com/OpenNeuroDatasets/ds001784.git
[submodule "ds002078"]
	path = ds002078
	url = https://github.com/OpenNeuroDatasets/ds002078.git
[submodule "ds002013"]
	path = ds002013
	url = https://github.com/OpenNeuroDatasets/ds002013.git
[submodule "ds002080"]
	path = ds002080
	url = https://github.com/OpenNeuroDatasets/ds002080.git
[submodule "ds002041"]
	path = ds002041
	url = https://github.com/OpenNeuroDatasets/ds002041.git
[submodule "ds002087"]
	path = ds002087
	url = https://github.com/OpenNeuroDatasets/ds002087.git
[submodule "ds002094"]
	path = ds002094
	url = https://github.com/OpenNeuroDatasets/ds002094.git
[submodule "ds001946"]
	path = ds001946
	url = https://github.com/OpenNeuroDatasets/ds001946.git
[submodule "ds001849"]
	path = ds001849
	url = https://github.com/OpenNeuroDatasets/ds001849.git
[submodule "ds002147"]
	path = ds002147
	url = https://github.com/OpenNeuroDatasets/ds002147.git
[submodule "ds002034"]
	path = ds002034
	url = https://github.com/OpenNeuroDatasets/ds002034.git
[submodule "ds002151"]
	path = ds002151
	url = https://github.com/OpenNeuroDatasets/ds002151.git
[submodule "ds001725"]
	path = ds001725
	url = https://github.com/OpenNeuroDatasets/ds001725.git
[submodule "ds002154"]
	path = ds002154
	url = https://github.com/OpenNeuroDatasets/ds002154.git
[submodule "ds002076"]
	path = ds002076
	url = https://github.com/OpenNeuroDatasets/ds002076.git
[submodule "ds002156"]
	path = ds002156
	url = https://github.com/OpenNeuroDatasets/ds002156.git
[submodule "ds002155"]
	path = ds002155
	url = https://github.com/OpenNeuroDatasets/ds002155.git
[submodule "ds002153"]
	path = ds002153
	url = https://github.com/OpenNeuroDatasets/ds002153.git
[submodule "ds002149"]
	path = ds002149
	url = https://github.com/OpenNeuroDatasets/ds002149.git
[submodule "ds001825"]
	path = ds001825
	url = https://github.com/OpenNeuroDatasets/ds001825.git
[submodule "ds002152"]
	path = ds002152
	url = https://github.com/OpenNeuroDatasets/ds002152.git
[submodule "ds002171"]
	path = ds002171
	url = https://github.com/OpenNeuroDatasets/ds002171.git
[submodule "ds002179"]
	path = ds002179
	url = https://github.com/OpenNeuroDatasets/ds002179.git
[submodule "ds001981"]
	path = ds001981
	url = https://github.com/OpenNeuroDatasets/ds001981.git
[submodule "ds002185"]
	path = ds002185
	url = https://github.com/OpenNeuroDatasets/ds002185.git
[submodule "ds001482"]
	path = ds001482
	url = https://github.com/OpenNeuroDatasets/ds001482.git
[submodule "ds002190"]
	path = ds002190
	url = https://github.com/OpenNeuroDatasets/ds002190.git
[submodule "ds002207"]
	path = ds002207
	url = https://github.com/OpenNeuroDatasets/ds002207.git
[submodule "ds001563"]
	path = ds001563
	url = https://github.com/OpenNeuroDatasets/ds001563.git
[submodule "ds000216"]
	path = ds000216
	url = https://github.com/OpenNeuroDatasets/ds000216.git
[submodule "ds002218"]
	path = ds002218
	url = https://github.com/OpenNeuroDatasets/ds002218.git
[submodule "ds002237"]
	path = ds002237
	url = https://github.com/OpenNeuroDatasets/ds002237.git
[submodule "ds001928"]
	path = ds001928
	url = https://github.com/OpenNeuroDatasets/ds001928.git
[submodule "ds002242"]
	path = ds002242
	url = https://github.com/OpenNeuroDatasets/ds002242.git
[submodule "ds002247"]
	path = ds002247
	url = https://github.com/OpenNeuroDatasets/ds002247.git
[submodule "ds002250"]
	path = ds002250
	url = https://github.com/OpenNeuroDatasets/ds002250.git
[submodule "ds002276"]
	path = ds002276
	url = https://github.com/OpenNeuroDatasets/ds002276.git
[submodule "ds002284"]
	path = ds002284
	url = https://github.com/OpenNeuroDatasets/ds002284.git
[submodule "ds002285"]
	path = ds002285
	url = https://github.com/OpenNeuroDatasets/ds002285.git
[submodule "ds002014"]
	path = ds002014
	url = https://github.com/OpenNeuroDatasets/ds002014.git
[submodule "ds002293"]
	path = ds002293
	url = https://github.com/OpenNeuroDatasets/ds002293.git
[submodule "ds002303"]
	path = ds002303
	url = https://github.com/OpenNeuroDatasets/ds002303.git
[submodule "ds002311"]
	path = ds002311
	url = https://github.com/OpenNeuroDatasets/ds002311.git
[submodule "ds002307"]
	path = ds002307
	url = https://github.com/OpenNeuroDatasets/ds002307.git
[submodule "ds000210"]
	path = ds000210
	url = https://github.com/OpenNeuroDatasets/ds000210.git
[submodule "ds002316"]
	path = ds002316
	url = https://github.com/OpenNeuroDatasets/ds002316.git
[submodule "ds002317"]
	path = ds002317
	url = https://github.com/OpenNeuroDatasets/ds002317.git
[submodule "ds002320"]
	path = ds002320
	url = https://github.com/OpenNeuroDatasets/ds002320.git
[submodule "ds002322"]
	path = ds002322
	url = https://github.com/OpenNeuroDatasets/ds002322.git
[submodule "ds002328"]
	path = ds002328
	url = https://github.com/OpenNeuroDatasets/ds002328.git
[submodule "ds002319"]
	path = ds002319
	url = https://github.com/OpenNeuroDatasets/ds002319.git
[submodule "ds002334"]
	path = ds002334
	url = https://github.com/OpenNeuroDatasets/ds002334.git
[submodule "ds001345"]
	path = ds001345
	url = https://github.com/OpenNeuroDatasets/ds001345.git
[submodule "ds002336"]
	path = ds002336
	url = https://github.com/OpenNeuroDatasets/ds002336.git
[submodule "ds002338"]
	path = ds002338
	url = https://github.com/OpenNeuroDatasets/ds002338.git
[submodule "ds002345"]
	path = ds002345
	url = https://github.com/OpenNeuroDatasets/ds002345.git
[submodule "ds002337"]
	path = ds002337
	url = https://github.com/OpenNeuroDatasets/ds002337.git
[submodule "ds000030"]
	path = ds000030
	url = https://github.com/OpenNeuroDatasets/ds000030.git
[submodule "ds000006"]
	path = ds000006
	url = https://github.com/OpenNeuroDatasets/ds000006.git
[submodule "ds000007"]
	path = ds000007
	url = https://github.com/OpenNeuroDatasets/ds000007.git
[submodule "ds000009"]
	path = ds000009
	url = https://github.com/OpenNeuroDatasets/ds000009.git
[submodule "ds000031"]
	path = ds000031
	url = https://github.com/OpenNeuroDatasets/ds000031.git
[submodule "ds000053"]
	path = ds000053
	url = https://github.com/OpenNeuroDatasets/ds000053.git
[submodule "ds000108"]
	path = ds000108
	url = https://github.com/OpenNeuroDatasets/ds000108.git
[submodule "ds000110"]
	path = ds000110
	url = https://github.com/OpenNeuroDatasets/ds000110.git
[submodule "ds000113"]
	path = ds000113
	url = https://github.com/OpenNeuroDatasets/ds000113.git
