[submodule "ds000001"]
	path = ds000001
	url = https://github.com/OpenNeuroDatasets/ds000001.git
[submodule "ds000002"]
	path = ds000002
	url = https://github.com/OpenNeuroDatasets/ds000002.git
[submodule "ds000003"]
	path = ds000003
	url = https://github.com/OpenNeuroDatasets/ds000003.git
[submodule "ds000005"]
	path = ds000005
	url = https://github.com/OpenNeuroDatasets/ds000005.git
[submodule "ds000008"]
	path = ds000008
	url = https://github.com/OpenNeuroDatasets/ds000008.git
[submodule "ds000011"]
	path = ds000011
	url = https://github.com/OpenNeuroDatasets/ds000011.git
[submodule "ds000051"]
	path = ds000051
	url = https://github.com/OpenNeuroDatasets/ds000051.git
[submodule "ds000052"]
	path = ds000052
	url = https://github.com/OpenNeuroDatasets/ds000052.git
[submodule "ds000101"]
	path = ds000101
	url = https://github.com/OpenNeuroDatasets/ds000101.git
[submodule "ds000102"]
	path = ds000102
	url = https://github.com/OpenNeuroDatasets/ds000102.git
[submodule "ds000105"]
	path = ds000105
	url = https://github.com/OpenNeuroDatasets/ds000105.git
[submodule "ds000107"]
	path = ds000107
	url = https://github.com/OpenNeuroDatasets/ds000107.git
[submodule "ds000109"]
	path = ds000109
	url = https://github.com/OpenNeuroDatasets/ds000109.git
[submodule "ds000017"]
	path = ds000017
	url = https://github.com/OpenNeuroDatasets/ds000017.git
[submodule "ds000122"]
	path = ds000122
	url = https://github.com/OpenNeuroDatasets/ds000122.git
[submodule "ds001037"]
	path = ds001037
	url = https://github.com/OpenNeuroDatasets/ds001037.git
[submodule "ds001103"]
	path = ds001103
	url = https://github.com/OpenNeuroDatasets/ds001103.git
